<div fxLayout fxLayoutAlign="center" class="training-card">
  <mat-card fxFlex="400px">
    <mat-card-title>Start a workout</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Select the type of training</mat-label>
        <mat-select>
          <mat-option value="crunches">
            Crunches
          </mat-option>
          <mat-option value="touch-toes">
            Touch toes
          </mat-option>
          <mat-option value="side-lunges">
            Side lunges
          </mat-option>
          <mat-option value="burpees">
            Burpees
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit">Start</button>
    </mat-card-actions>
  </mat-card>
</div>
